<div class="container text-center">
  <!-- Slider main container -->
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <%= render @movies %>
    </div>
  </div>
</div>
<%= javascript_pack_tag "swiper.js" %>