<% content_for(:title, t('.title')) %>
<%= render 'form', user: @user %>
<div class="row align-items-center text-center">
  <div class="col-6">
    <%= link_to '利用規約', page_path('terms'), class: 'text-white' %>
  </div>
  <div class="col-6">
    <%= link_to 'プライバシーポリシー', page_path('privacy_policy'), class: 'text-white' %>
  </div>
</div>
