<footer id='footer' class='footer-bottom'>
  <div class='container'>
    <%= link_to root_path do %>
      <i class="fa fa-home fa-5x"></i>この製品はTMDB APIを使用しており、TMDBによって承認または認定されています。（TMDBのロゴも表示する）
    <% end %>
  </div>
</footer>