<nav class="navbar navbar-expand-lg navigation navbar-light bg-dark">
    <%= link_to root_path, class: 'navbar-brand ms-3 text-light fs-1 customize-font' do %>
      シネマト<span class="fs-6">映画の予告を、もっと楽しく</span>
    <% end %>
    <%= link_to root_path, class: 'd-flex me-3 text-light' do %>
      ログイン
    <% end %>
</nav>