<% content_for(:title, t('.title')) %>
<div class="text-center mt-3">
  <%= link_to (t 'defaults.register'), admin_movies_search_path, class: 'btn btn-primary' %>
</div>

<% if @movies.present? %>
  <table class="table mt-3">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">poster</th>
        <th scope="col">id</th>
        <th scope="col">api_id</th>
        <th scope="col">title</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <%= render @movies %>
    </tbody>
  </table>
<% else %>
  <p>映画は登録されていません</p>
<% end %>