<div class="container text-center">
  <h1>お問い合わせ</h1>
  <p class="mt-5">
    シネマトのお問い合わせでは、以下内容を受け付けております。<br />
    <span class="row mt-2">
      <span class="col"></span>
      <span class="col text-start bg-secondary p-3">
        ・不具合の報告<br />
        ・追加機能のご要望<br />
        ・権利者様からの削除要請<br />
        ・その他<br />
      </span>
      <span class="col"></span>
    </span>
  </p>
  <p class="mt-5">
    お問い合わせは、Twitterより承ります。<br />
    メンションやDMにてお問い合わせください。<br />
    <a href="https://twitter.com/MoviePosterJpUs" target="_blank" rel="noopener noreferrer" class="text-white">Twitter</a>
  </p>
  <p class="mt-5 mb-5">
    また、Googleフォームでも受け付けております。<br />
    <a href="https://forms.gle/iAmWRwoRTjK28zQcA" target="_blank" rel="noopener noreferrer" class="text-white">Googleフォーム</a>
  </p>
</div>