<div class="container">
  <div class="m-3 text-center">
    <h1 class="text-center">インフォメーション</h1>
    <div class="mt-4">
      <a href="https://cinematrailer.herokuapp.com/pages/contact" class="text-white">お問い合わせ</a>
    </div>
    <div class="mt-4">
      <a href="https://cinematrailer.herokuapp.com/pages/terms" class="text-white">利用規約</a>
    </div>
    <div class="mt-4">
      <a href="https://cinematrailer.herokuapp.com/pages/privacy_policy" class="text-white">プライバシーポリシー</a>
    </div>
  </div>
</div>