@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body {
  background-color: #21252A !important;
  color: #FFF; 
}

/** ヘッダー **/
.navbar {
  position: fixed;
  top: 0;
  z-index: 500;
  width: 100%;
}

.customize-font {
  font-family: 'YuGothic','Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', 'Meiryo','ＭＳ ゴシック',sans-serif;
}

/** / **/
.container {
  margin-top: 100px;
}

.swiper {
  max-height: 750px;
  max-width: 800px;
}

.trailer {
  width:100%;
  padding-bottom: 56.25%;
  height:0px;
  position: relative;
}

.trailer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.movie_detail,
.card {
  border: none;
  background-color: transparent;
}

.card-body {
  padding: 0;
}

/** /admin/movies/:id **/
.movie_data {
  max-width: 800px;
}
