@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~swiper/swiper';

$breakpoints: (
  sp: 599px
);

@mixin sp {
  @media only screen and (max-width: map-get($breakpoints, sp)) {
    @content;
  }
}

a {
  color: transparent;
  &:hover {
    color: transparent;
  }
}

hr {
  @include sp {
    margin: 0.5rem 0;
  }
}

.form-wrapper {
  max-width: 500px;
}

.alert {
  margin-top: 80px;
}

.fs-5 {
  @include sp {
    font-size: 1rem !important;
  }
}

.fs-6 {
  font-size: 14px !important;
}

.fs-7 {
  @include sp {
    font-size: 10px !important;
  }
}

/** header **/
.navbar {
  position: fixed;
  top: 0;
  z-index: 500;
  width: 100%;
}

.customize-font {
  font-family: 'YuGothic','Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', 'Meiryo','ＭＳ ゴシック',sans-serif;
}

/** footer **/
footer {
  position: fixed;
  bottom: 0;
  z-index: 500;
  width: 100%;
}

.footer-pc {
  padding-bottom: 1rem !important;
  @include sp {
    padding-bottom: 0 !important;
  }
}

/** /pages/contact **/
.contact-width {
  max-width: 500px;
}

/** / **/
.container {
  margin-top: 100px;
  margin-bottom: 200px;
  @include sp {
    margin-top: 80px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: 100% !important;
  }
}

.swiper {
  max-height: 725px;
  max-width: 800px;
  @include sp {
    max-height: 800px;
  }
}

.movie-area {
  max-width: 800px;
  margin: auto;
  margin-bottom: 5rem;
}

.trailer {
  width:100%;
  padding-bottom: 56.25%;
  height:0px;
  position: relative;
}

.trailer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.movie-detail,
.card {
  border: none;
  background-color: transparent;
}

.card-body {
  padding: 0;
}

/** /users/new **/
.text-muted {
  color: #C0C0C0 !important;
}

/** /users/:id **/
.profile-image {
  border-radius: 50%;
}

/** /admin/movies/:id **/
.movie-data {
  max-width: 800px;
}
