<nav class="navbar-light bg-light text-center">
  <%= link_to '映画一覧', admin_movies_path, class: 'navbar-brand' %>
  <%= link_to 'TMDB検索', admin_movies_search_path, class: 'navbar-brand' %>
  <%= link_to 'ジャンル一覧', admin_genres_path, class: 'navbar-brand' %>
</nav>